<a href="#" class="relative block overflow-hidden rounded-lg border border-gray-700 bg-gray-800 p-4">
    <!-- Background -->
    <img
      alt=""
      src="https://images.unsplash.com/photo-1605721911519-3dfeb3be25e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
      class="h-64 w-full object-cover sm:h-80 lg:h-40"
    />
    <!-- Profile -->
    <div class="mx-auto w-32 h-32 relative -mt-10 border-2 border-white rounded-full overflow-hidden">
        <img class="object-cover object-center h-32"
            src="https://images.pexels.com/photos/20247245/pexels-photo-20247245/free-photo-of-findik-iscisi.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    </div>
  
    <h3 class="mt-4 text-lg font-bold text-white sm:text-xl text-center">Evgen Ledo</h3>

    <p class="mt-0.2 max-w-sm text-white text-center">
        ledoteam
    </p>
  
    <p class="mt-2 max-w-sm text-white text-center">
      Hello, I'm humble Kenyan citizen who wishes to help the less fortunate where I can.
    </p>

    <button class="mt-5 w-1/2 block mx-auto rounded-full bg-gray-900 hover:shadow-lg font-semibold text-white px-6 py-2">
        My Profile
    </button>
  </a>

  <h1 class="font-bold text-white">Skills</h1>

  <!-- Hovers -->
<div>
    <div class="sm:hidden">
      <label for="Tab" class="sr-only">Tab</label>
  
      <select id="Tab" class="w-full rounded-md border-gray-700">
        <option>Settings</option>
        <option>Messages</option>
        <option>Archive</option>
      </select>
    </div>
  
    <div class="hidden sm:block">
      <nav class="flex gap-6" aria-label="Tabs">
        <a
          href="#"
          class="shrink-0 rounded-lg p-2 text-sm font-medium text-gray-500 hover:bg-gray-700 hover:text-gray-200"
        >
          UX Design
        </a>
  
        <a
          href="#"
          class="shrink-0 rounded-lg p-2 text-sm font-medium text-gray-500 hover:bg-gray-700 hover:text-gray-200"
        >
          Copywriting
        </a>
  
        <a
          href="#"
          class="shrink-0 rounded-lg p-2 text-sm font-medium text-gray-500 hover:bg-gray-700 hover:text-gray-200"
        >
          Mobile
        </a>
      </nav>
    </div>

    <div class="hidden sm:block">
        <nav class="flex gap-6" aria-label="Tabs">
          <a
            href="#"
            class="shrink-0 rounded-lg p-2 text-sm font-medium text-gray-500 hover:bg-gray-700 hover:text-gray-200"
          >
            Research
          </a>
    
          <a
            href="#"
            class="shrink-0 rounded-lg p-2 text-sm font-medium text-gray-500 hover:bg-gray-700 hover:text-gray-200"
          >
            User Interview
          </a>
    
          <a
            href="#"
            class="shrink-0 rounded-lg p-2 text-sm font-medium text-gray-500 hover:bg-gray-700 hover:text-gray-200"
          >
            Handy Work
          </a>
        </nav>
      </div>
  </div>

  <!-- Communities -->
  <h1 class="font-bold text-white">Communities</h1>

  <article class="rounded-xl border-2 border-gray-100 bg-gray-800">
    <div class="flex items-start gap-4 p-4 sm:p-6 lg:p-3">
      <a href="#" class="block shrink-0">
        <img
          alt=""
          src="https://images.pexels.com/photos/2888088/pexels-photo-2888088.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
          class="size-14 rounded-full object-cover"
        />
      </a>
  
      <div>
        <h3 class="font-medium sm:text-lg text-white pt-4">
          <a href="#"> Mamlaka Chapel </a>
        </h3>
      </div>
    </div>
  </article>

  <article class="rounded-xl border-2 border-gray-100 bg-gray-800">
    <div class="flex items-start gap-4 p-4 sm:p-6 lg:p-3">
      <a href="#" class="block shrink-0">
        <img
          alt=""
          src="https://images.pexels.com/photos/3566880/pexels-photo-3566880.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
          class="size-14 rounded-full object-cover"
        />
      </a>
  
      <div>
        <h3 class="font-medium sm:text-lg text-white pt-4">
          <a href="#"> PCEA for </a>
        </h3>
      </div>
    </div>
  </article>

  <article class="rounded-xl border-2 border-gray-100 bg-gray-800">
    <div class="flex items-start gap-4 p-4 sm:p-6 lg:p-3">
      <a href="#" class="block shrink-0">
        <img
          alt=""
          src="https://images.pexels.com/photos/12064968/pexels-photo-12064968.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
          class="size-14 rounded-full object-cover"
        />
      </a>
  
      <div>
        <h3 class="font-medium sm:text-lg text-white pt-4">
          <a href="#"> St. Andrew </a>
        </h3>
      </div>
    </div>
  </article>