<article
  class="shadow-md relative block overflow-hidden rounded-lg border border-gray-200 p-4 sm:p-6 lg:p-8"
>
  <span
    class="absolute inset-x-0 bottom-0 h-2 bg-gradient-to-r from-green-300 via-blue-500 to-purple-600"
  ></span>

  <div class="sm:flex sm:justify-between sm:gap-4">
    <div>
      <h3 class="text-lg font-bold text-gray-200 sm:text-xl">
        Celebrating extraordinary Kenyans helping fellow citizens in distress
      </h3>
    </div>
  </div>

  <div class="mt-4">
    <p class="text-sm text-gray-300">
      Kenyan authorities have not responded adequately to flash floods resulting from heavy rains, Human Rights Watch said today.
    </p>
  </div>

  <dl class="mt-6 flex justify-end gap-4 sm:gap-6">
    <button
      (click)="toggleReplying()"
      class="group inline-block rounded bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-[2px] hover:text-white focus:outline-none focus:ring active:text-opacity-75"
    >
      <span class="block rounded-sm bg-white px-4 py-1.5 text-sm font-medium group-hover:bg-transparent">
        Reply
      </span>
    </button>
    <button class="text-white">
      12 Likes  
    </button>
      <button (click)="toggleExpanded()" class="duration-200" [class.rotate-180]="isExpanded">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
        </svg>              
      </button>
  </dl>

  <section class="my-4" *ngIf="isReplying">
    <app-comment-form></app-comment-form>
  </section>

  <section class="nested-comments" *ngIf="isExpanded">
    <app-comment></app-comment>
  </section>

</article>