<div class="h-10 flex flex-col">
    <header class="h-12 px-3 bg-gray-700 text-white flex items-center justify-between">
        <span>Kenya Works</span>

        <!-- Search -->

        <div class="relative">
            <label for="Search" class="sr-only"> Search </label>
  
            <input
                type="text"
                id="Search"
                placeholder="Search for..."
                class="w-full rounded-md border-gray-700 py-1.5 pe-20 shadow-sm sm:text-sm p-4"
            />
  
            <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
            <button type="button" class="text-gray-600 hover:text-gray-700">
                <span class="sr-only">Search</span>
  
                <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-4 w-4"
                >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                />
                </svg>
            </button>
            </span>
        </div>
        <!-- End of Search -->


        <nav>
            <ul class="flex gap-4">
                <li routerLinkActive="underline underline-offset-4" class="hover:underline hover:underline-offset-4">
                    <a routerLink="/home">Home</a>
                </li>
                <li routerLinkActive="underline underline-offset-4" class="hover:underline hover:underline-offset-4">
                    <a routerLink="/about">About</a>
                </li>
            </ul>
        </nav>
    </header>
</div>

<div class="grid grid-cols-1 gap-2 lg:grid-cols-4 lg:gap-2">
    <!-- Left -->
    <div class="min-h-screen rounded-lg bg-gray-900 p-4">
        <app-left></app-left>
    </div>

    <!-- Middle -->
    <div class="min-h-screen bg-gray-900 lg:col-span-2">
        <main class="px-2 py-4">
            <router-outlet></router-outlet>
        </main>
    </div>

    <!-- Right -->
    <div class="min-h-screen rounded-lg bg-gray-900 p-4">
        <h1 class="font-bold text-white p-0.5">Recent Activities</h1>
        <app-right class="p-4"></app-right>
        <app-right class="p-4"></app-right>
        <app-right class="p-4"></app-right>
        <app-right class="p-4"></app-right>
    </div>
</div>